<!DOCTYPE html>
<html>
<body>
<!-- Commands -->
      <div class="commands" id="commands">
        <div class="container">
          <h2 class="title text-center">Commands</h2>
          <table
            class="table"
            style="
              background: rgba(255, 255, 255, 0.35);
              box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
              backdrop-filter: blur(9px);
              -webkit-backdrop-filter: blur(9px);
              border-radius: 10px;
            "
          >
            <thead>
              <tr>
                <th
                  scope="col"
                  style="
                    background: linear-gradient(
                      to right,
                      #8a2387,
                      #e94057,
                      #f27121
                    );
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    text-decoration: none;
                  "
                >
                  Command
                </th>
                <th
                  scope="col"
                  style="
                    background: linear-gradient(
                      to right,
                      #8a2387,
                      #e94057,
                      #f27121
                    );
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    text-decoration: none;
                  "
                >
                  Aliases
                </th>
                <th
                  scope="col"
                  style="
                    background: linear-gradient(
                      to right,
                      #8a2387,
                      #e94057,
                      #f27121
                    );
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    text-decoration: none;
                  "
                >
                  Usage
                </th>
                <th
                  scope="col"
                  style="
                    background: linear-gradient(
                      to right,
                      #8a2387,
                      #e94057,
                      #f27121
                    );
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    text-decoration: none;
                  "
                >
                  Description
                </th>
              </tr>
            </thead>
            <tbody id="commands-body" style="color: white"></tbody>
          </table>
        </div>
      </div>
      <!-- End Commands -->
</body>
<style>
  commands {
      margin-top: 100px;
      padding-top: 110px;
      padding-bottom: 120px;
    }

    .commands .title {
      position: relative;
      padding-bottom: 25px;
      text-transform: uppercase;
      font-weight: 700;
      color: white;
    }
  </style>
</html>


